<ion-view view-title="Add Location">
  <ion-header-bar class="header">
    <button class="button button-clear button-calm" on-tap="cancelAddLocation()">Cancel</button>
    <h1 class="title">Add Location</h1>
    <button class="button button-clear button-calm" on-tap="doneAddLocation()">Done</button>
  </ion-header-bar>
  <div class="bar bar-subheader">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Search">
      </label>
    </div>
  </div>
  <ion-content padding="true" class="has-subheader">
    Add Location
  </ion-content>
</ion-view>
