<ion-view view-title="Weather">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-plus-outline" on-tap="openAddLocation()"></button>
  </ion-nav-buttons>
  <ion-content ng-init="selectLocation(locations.defaultLocation)">
    <ion-list>
      <div ng-repeat="item in data">
        <ion-item class="item-divider">
          {{item.city}}
          <p on-tap="deleteItem($index)">delete</p>
        </ion-item>
        <ion-item ng-repeat="item in item.temp">
          {{item.date}}
          <p>{{item.temp}} °C</p>
        </ion-item>
      </div>
    </ion-list>

    <!-- Add Location -->
    <script id="addLocation.html" type="text/ng-template">
      <ion-modal-view>
        <div ng-include="'views/addLocation.html'"></div>
      </ion-modal-view>
    </script>
    <!-- END -->

  </ion-content>
</ion-view>
